/** Structural styles */
a {
  color: #1d9891
}
body {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 0.9em;
  color: #536B78;
}
strong {
  text-transform: uppercase;
}
h1{
  text-transform: uppercase;
  font-size: 2.5em;
  border: 2px;
  border-color: #536B78;
  border-style: solid;
  padding: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.5em;
  background-color: #f2f6f8;
  padding: 15px;
}
footer {
  background-color: #536B78;
  color: #f2f6f8;
  padding-top: 20px;
  padding-bottom: 20px;
}
#root {
  max-width: 750px;
  margin-left: 40px;
  margin-right: 40px;
  margin: auto;
}
.centeredsub, #checkboxes {
  display: inline-block;
  margin: auto;
}
#menubar {
  color: black;
  margin-top: 0px;
  display: inline-block;
  margin:auto;
  border-bottom: 1px solid;
}
.menu {
  color: #536B78;
  text-decoration: none;
}

/* Align with h2 */
dt, dd, ol, #checkboxes {
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

/* Object implementation specific styles */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f6f8;
}
textarea {
  resize: vertical;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection {
  background: #ffb7b7;
}
