.menubar {
  color: black;
  margin-top: 0px;
  display: inline-block;
  margin: 0 auto;
  border-bottom: 1px solid;
}
.menu {
  font-style: italic;
  color: #536B78;
  text-decoration: none;
}
.active {
  font-weight: bold;
}
